.login-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.login-page h1 {
  font-size: 32px;
  color: #333;
  margin-bottom: 16px;
}

.login-page p {
  font-size: 16px;
  color: #666;
}

